body, html {
   margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}


:root {
  --font-primary: 'Montserrat', Arial, Helvetica, sans-serif;
  --font-size-title: 3rem;
  --font-size-subtitle: 1.2rem;
  --color-primary: #fff;
  --color-secondary: #222;
  --header-bg: #1a1a1a;

}

